PORT=8000
# NODE_ENV=development
DOCKER_BACKEND_IMAGE=wanderlust_backend
ACCESS_COOKIE_MAXAGE=3600000
ACCESS_TOKEN_EXPIRES_IN=1h
REFRESH_COOKIE_MAXAGE=120000
REFRESH_TOKEN_EXPIRES_IN=7d
BACKEND_PORT_HOST=8000
BACKEND_PORT_CONTAINER=8000
BACKEND_IMAGE_TAG=latest

FRONTEND_IMAGE_TAG=latest
DOCKER_FRONTEND_IMAGE=wanderlust_frontend
FRONTEND_PORT_HOST=3000
FRONTEND_PORT_CONTAINER=80
MONGO_INITDB_DATABASE=wanderlust

JWT_SECRET="change-me"
MONGO_INITDB_ROOT_USERNAME="admin"
MONGO_INITDB_ROOT_PASSWORD="change-me"
GOOGLE_CLIENT_ID="your_google_client_id"
GOOGLE_CLIENT_SECRET="your_google_client_secret"
REDIS_PASSWORD="change-me"

MONGODB_URI=mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@mongodb:27017/wanderlust?authSource=admin
REDIS_URL=redis://:${REDIS_PASSWORD}@redis:6379
